.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  height: 4rem;
  padding: 0.2rem 1.2em 0;
  border: 0;
  border-radius: var(--border-radius);
  background: var(--main-color);
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}

.button img {
  height: 1.2em;
  margin-top: -0.2rem;
  vertical-align: middle;
}

.button.fullWidth {
  width: 100%;
}
.button.gray {
  background: var(--gray-background);
  color: var(--black-color);
}
.button.white {
  padding: 0.2rem 0.8em 0;
  background: var(--white-color);
  color: var(--black-color);
}
.button.white img {
  height: 1.4em;
}
